* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
    position: relative;
    top: 150px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.container {
    background-color: white;
    display: block;
    width: 295px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
    box-shadow: 5px 5px 30px hsl(0, 0%, 65%);
}

.container .image img {
    width: 270px;
    border-radius: 10px;
}

.container h3 {
    font-size: 22px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    color: hsl(218, 44%, 22%);
}

.container p {
    text-align: center;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 40px;
    color: hsl(220, 15%, 55%);
}

.container .image {
    text-align: center;
    padding-top: 15px;
}